.my-masonry-grid {
  display: -webkit-box; /* Not needed if modern browser */
  display: -ms-flexbox;
  display: flex;
  margin-left: -16px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 16px; /* gutter size */
  background-clip: padding-box;
}

.my-masonry-grid_column > img {
  margin-bottom: 16px;
  width: 100%;
  height: auto;
  border-radius: 12px;
}
